<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="ToggleSwitch" version="1.1.2" targetFramework="net452" />
</packages>