<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<connectionStrings>
  <add name="VPN" connectionString="Data Source=DESKTOP-2D42C0P;Initial Catalog=PureVPN;Integrated Security=True"></add>
</connectionStrings>
</configuration>
